<div class="col s12 m5 l5 center-align" style="position: relative; top: 30%;">
    <div class="flight-state">
        <h2 class="margin">K12</h2>
        <p class="small">Grading System</p>
    </div>
    <form id='form_getIP' class="formValidate" method="get" action="" style='position:relative; top:40px;'>
        <div class="row">
            <div class="input-field col offset-s2 s8">
                <label for="field_studentID">IP Address:</label>
                <a class="very-small right" data-template="ip-help" data-context-name="ip-help"><i class="mdi-communication-live-help"></i>help</a>
                <input data-inputtype='optional' id='field_ipAddress' type="text" name="field_ipAddress" data-error=".error_ipAddress">
                <div class="error_ipAddress"></div> 
            </div>
            <div class="input-field  col offset-s2 s8">
                <button class="btn-flat blue waves-effect waves-light" type="submit">Access</button>
            </div>
        </div>
    </form>
</div>
