<div class="col s12 m5 l5 center-align" style="position: relative; top: 15%;">
    <div class="flight-state">
        <h2 class="margin">K12</h2>
        <p class="small">Grading System</p>
    </div>
    <div class="divider"></div>
    <div class="list-block col offset-s2 s8">
        <ul>
            <li>
                <a href="#cmd=index;content=options_gradeSheet" class="item-link">
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title">Grade Sheet</div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#cmd=index;content=grade-summary" class="item-link">
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title">Summary Grades</div>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>